*{
    margin: 0;
    padding: 0;
    color: #222222;
    font-family: "Microsoft YaHei UI";
    /*max-height: 100%;*/
}
.fl_left{
    float: left;
}
.fl_right{
    float:  right;
}
.cl{
    clear: both;
}
.line{
    height:2px ;
    background-color: #f3f9f7;
    width: 100%;
    margin-bottom: 0;
}
.content{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
a{
  text-decoration: none;
}
li{
    list-style: none;
}

/*导航样式*/
.head_right li{
    display: inline-block;

    margin-right: 70px;
    margin-top: 7px;
}
.head_right li:nth-child(1) a{
    color: #15c880;
}
.head_right li i{
    display: block;
    width: 6px;
    height: 6px;
    background-color: #15c880;
    border-radius:50%;
    margin: 0 auto;
    margin-top:12px ;
}
.head_left{
    line-height: 34px;
    padding-left: 44px;
    height: 34px;
    font-size: 24px;
    background: url("../images/safeFish/logo.png") no-repeat left center;
}
.nav{
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    position: absolute;
}
.head{
    padding: 40px 0 27px 0;
}
/*banner*/
.banner{
    width: 100%;
    background: url("../images/safeFish/banner.png") no-repeat ;
    background-size: 100%;
    /*height: 965px;*/
    text-align: center;
}
.banner button{
    /*padding: 35px 126px;*/
    padding: 2.5% 7%;
    /*margin-top: 566px;*/
    margin-top: 2%;
    border-radius: 40px;
    background: url("../images/safeFish/btn_download.png") no-repeat center;
    background-size: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 0.8%;
    max-height: 100%;
}

/*介绍*/
.introduce{
    margin-top: 105px;
}
.introduce>div{
    margin-left: 100px;
    line-height: 38px;
    font-size: 24px;
    color: #111111;
}
.intro_txt{
    margin-left: 21px;
}
.introduce li{
    display: block;
    overflow: hidden;
    margin-top: 70px;
}
.intro_txt{
    margin-top: 10px;
}
/*底部信息*/
.footer{
    background-color: #fafafa;
    width: 100%;
    /*margin-top: 100px;*/
    text-align: center;
    padding: 80px 0;
}
.footer li{
    display: inline-block;
}
.footer li:nth-child(1) a,.footer li:nth-child(2) a,.footer li:nth-child(3) a,.footer li:nth-child(4){
    font-size: 24px;
    margin-left: 20px;
}
.footer li:nth-child(4){
    margin: 0 8px;
}
.footer li:nth-child(1) a,.footer li:nth-child(2) a,.footer li:nth-child(5) a,.footer li:nth-child(6) a{
    color: #0093e9;
}
.address{
    margin-top: 29px;

}
.address p,.address a{
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}
.address a:hover{
    text-decoration: underline;
}
/**/
